header {
  position: relative;
  h1{
    @include t-level-1;
    .headline__second{
      display: block;
      color: $purple;
    }
  }
  .header__copy{
    @include t-copy;
    max-width: 733px;
    padding-bottom: 30px;
  }
  &:after{
    background-image: url("../assets/hero.png");
    position: absolute;
    top:-200px;
    bottom: 0;
    content: '';
    right: 0;
    width: 1300px;
    height: 1300px;
    z-index: -1;
  }
  .header__video-lightbox{
    background-color: $grey-darkest;
    display: flex;
    padding: {
      top: 20px;
      left: 30px;
      bottom: 20px;
    }
    margin-top: 110px;
    width: 650px;
    .teaser-img{
      width: 267px;
      height: 173px;

    }
    .teaser-content{
      display: flex;
      flex-direction: column;
      margin-left: 20px;
      width: 50%;
      justify-content: space-around;
      a{
        display: flex;
        align-items: center;
        img{
          margin-right: 15px;
          height: 45px;
          width: 45px;
        }
      }
      p{
        @include t-small-copy;
        color: $grey;
      }
    }
    a{
      @include t-button;
    }
  }
}
