// Colors
$black: #000000;
$grey: #97A3AE;
$white: #ffffff;
$purple: #4434FF;
$grey-dark: #243746;
$grey-darkest: #1B2229;
$teal: #01FCB1;

// Default Animation Values
$transition-speed-slow: 325ms;
$transition-speed: 250ms;
$transition-speed-fast: 175ms;
